// Place all the styles related to the stuffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-star {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  background-size: 100%;

  &.favorite { background-image: url(asset-path("star-can-fave.svg"))}
  &.unfavorite { background-image: url(asset-path("star-fave.svg"))}
}
